body {
    font-family: Arial, sans-serif;
    background-color: #e6f0ff;
    margin: 0;
    padding: 30px;
    color: #333;
}

/* Título */
h1 {
    background-color: white;
    color: #1e3c72;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
}

/* Foto */
img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 20px auto;
}

/* Texto */
p {
    background-color: white;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}

/* Títulos */
h2 {
    color: #1e3c72;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}

/* Listas */
ul {
    background-color: white;
    padding: 20px 40px;
    border-radius: 10px;
}

/* Itens da lista */
li {
    margin: 10px;
}

/* Links */
a {
    color: #2563eb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

